{% extends 'base.html' %}

{% block title %}Subcategories{% endblock %}

{% block content %}
  <div class="container">
    <h1>Subcategories</h1>
    <form method="post">
      {% for subcategory in subcategories %}
        <input type="checkbox" id={{subcategory}} name={{subcategory}} value={{subcategory}}>
        <label for={{subcategory}}> {{subcategory}} </label><br>
      {% endfor %}
      <label for="number">Number of questions</label><br>
      <input type="number" id="number" name="number_of_questions" min="1" max="10"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
